.appt{
    height:14%;
    width:90%;
    background-color: #7ED991;
    border-radius: 7px;
    margin-top: 5%;
    margin-left: 15px;
    cursor: pointer;
    padding:20px;
    color:white;
}

.appt:hover{
    background-color: #7ED991;
    ;
}
